<%- include("./partials/header.ejs") %>

    <h1>Welcome to My Express Application</h1>
    <img 
    src="https://www.sciencealert.com/images/2019-12/processed/CatsHaveFacialExpressionsButHardToRead_1024.jpg"
    height="500px"
    alt="Cute cat"
  />
  <%- include("./partials/footer.ejs") %>
