<%- include("./partials/header.ejs")%>
<h1>Contact Us</h1>

<form action="/result">
  <div>
    <label for="year">What is your car's year?</label><br />
    <input type="text" id="year" name="year" />
  </div>

  <input type="submit" value="Send" />
</form>

<%- include("./partials/footer.ejs")%>
    
